parameters:
    level: 9
    paths:
        - src
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        - '#Call to an undefined static method Innobrain\\Markitdown\\Facades\\Markitdown::convert\(\)#'
